/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
  }

/* colors 
pink dark: #664147
pink medium: #c4aaa8
pink light: #eddfd7
light: #f3efe3
blue: #c7d4d1
light brown: #a59483
grey: #383a39
dark: #262626 


fonts 
 font-family: "Crimson Text", serif;
   font-family: "IM Fell Double Pica", serif;
     font-family: "Fanwood Text", serif;
font-family: "Baskervville", serif;
font-family: "Della Respira", serif;
*/

button:hover {
  cursor: pointer;
}
h2 {
    padding-top: 35px;
    font-family: "Baskervville", serif;   
    font-size: 25pt;
    font-weight: 50;
    text-align: center;
}
h3 {
      font-size: 15pt;
        font-family: "Fanwood Text", serif;
}

h4{
      font-size: 15pt;
        font-family: "IM Fell Double Pica", serif;
}

p1 {
      font-size: 15pt;
 font-family: "Crimson Text", serif;
}

p2 {
      font-size: 15pt;
font-family: "Baskervville", serif;
}
body{
    background-color: #f3efe3;
  margin: 0;
  padding: 0;
}

nav {
  width: 70vw;
  margin: 0 auto;
  padding: 0;
  height: 80px;
  font-family: "Crimson Text", serif;
  font-size: 18pt;
  border-radius: 10px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0;
  margin-top: 20px;
  list-style-type: none;

}
nav li {
  width: inherit;

}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropBtn {
  border: none;
  outline: none;

  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropBtn {
color: #a59483;
}

/* Dropdown content (hidden by default) */
.dropContent {
  display: none;
  position: absolute;
  background-color: #664147c4;
  min-width: 160px;
  z-index: 1;
  border-radius: 2px;
}

/* Links inside the dropdown */
.dropContent a {
  font-size: 14pt;

  float: none;
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropContent a:hover {
  background-color: #383a39 ;
  color: white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropContent {
  display: block;
}

a{
  color: #383a39 ;
  text-decoration: none;
}
a:hover {
  color:#a59483 ;
}

main {
    display: grid;
      grid-template-columns: 5vw 20vw 40vw 10vw 20vw 5vw ;
    
}
.grid-item {
    padding: 10px;
    border-left: 1px dashed #262626;
}

.grid-item img {
padding: 5px;
}
#image-container {
    grid-column: 3;
    grid-row: 1 ;


}
#image-container img{
      max-height: 700px;
      justify-self: center;
}

#images-gallery1 {
    grid-column: 2;
    grid-row: 1 ;
}
#images-gallery2 {
    grid-column: 2;
    grid-row: 3  ;
}

#information {
    grid-column: 4 / 6;
    grid-row: 1 / 5;  

}

.flex-item {
    width: inherit;
    display: flex;
    gap: 10px;
        border-bottom: 1px dashed #262626;
        padding: 0 10px ;
}
.grid-line {
      padding: 10px;
  border-top: 1px dashed #262626;
}

#line-1 {
        grid-column: 2 / 6;
}
#line-2 {
        grid-row: 1 ;
            grid-column: 2 / 6;  
}
#line-3 {
        grid-row: 3 ;
            grid-column: 2 / 6;  
}
#line-4 {
            grid-column: 6 ;
            grid-row: 1 / 5;  
}

#extra-1 {
          grid-column: 3 ;
            grid-row: 3;  
}